<p>Lista 1</p>
<div style="background-color: aqua;">
  <app-default-card
    *ngFor="let elem of defaultlist; let i = index"
    [element]="elem"
    (onSelect)="changeSelectedDefaultList(i)"
  />
</div>
<br>
<p>Lista 2</p>
<div style="background-color: rgb(191, 255, 0);">
  <app-on-push-card
    *ngFor="let elem of onpushlist; let i = index"
    [element]="elem"
    (onSelect)="changeSelectedOnPushList(i)"
  />
</div>
<br>
<p>Lista 3</p>
<div style="background-color: rgb(95, 101, 187);">
  <app-default-card
    *ngFor="let elem of signallist(); let i = index"
    [element]="elem"
    (onSelect)="changeSelectedSignalListDefault(i)"
  />
</div>
<br>
<p>Lista 3</p>
<div style="background-color: rgb(255, 72, 0);">
  <app-on-push-card
    *ngFor="let elem of signallist(); let i = index"
    [element]="elem"
    (onSelect)="changeSelectedSignalListOnPush(i)"
  />
</div>
